.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title p {
  color: #000000;
  text-decoration: none;
}

.title p:hover,
.title p:focus,
.title p:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.secondary {
  justify-content: center;
  align-items: center;
}

.secondary a {
  font-size: 2rem;
}

.secondary a:hover,
.secondary a:focus,
.secondary a:active {
  text-decoration: underline;
}

.backbutton {
  justify-content: center;
  align-items: center;
}

.backbutton a {
  font-size: 1.2rem;
}

.backbutton a:hover,
.backbutton a:focus,
.backbutton a:active {
  text-decoration: underline;
}